[data-component-id="drupalsky:blueskyprofile"] {
}

.bsky-profile {
  text-align: center;
  margin-top: 1em;
  border-bottom: 4px solid #aaa;
}

.bsky-banner {
  max-width: 80%;
}

.bsky-avatar {
  max-width: 160px;
  border-radius: 90px;
}

.bsky-col1 {
  margin: 1em;
  padding: 1em;
}


.bsky-col2 {
  margin: 1em 0;
  padding: 1em 0;
  text-align: left;
}
